@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.card{
    display: flex;
    gap: 16px;
    width: 280px;
}
.card__img{
    width: 100px;
    height: 102px;
}
.card__img img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}
.card__text{
    width: 147px;
    display: grid;
    grid-template-columns: auto;
    text-align: left;
}
.card__title{
    font-size: 18px;
}
.card__title b{
    font-size: 20px;
}
.card__desc{
    font-size: 16px;
    color: #958BB6;
}

.team__wrap{
    margin-top: 50px !important;
    width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    margin: 0 auto;
}
.team__title{
    font-family: 'PT Serif', serif;
    align-self: center;
    width: 1214px;
    font-size: 30px;
    font-weight: bold;
}
.team .swiper-button-prev,
.team .swiper-button-next {
  top: 50px; 
  background-color: #FBF8FF;
  border-radius: 8px;
}

.team .swiper-button-prev {
    left: 10px !important; 
  }
  
  .team .swiper-button-next {
    right: 20px; 
  }
  
  /* Optional: Customize the arrow appearance */
  .team .swiper-button-prev:after,
  .team .swiper-button-next:after {
    font-size: 20px;  /* Adjust arrow icon size */
    color: #323232;   /* Adjust arrow icon color */
  }
/*
нужно их уменьшить или заменить на иконки стрелок
если их передвинуть то они скрываются, это тоже надо исправить
*/

/* .swiper-button-prev {
    transform: translateX(-100%) !important;
    font-size: 20px !important;
    color: black !important;
}

.swiper-button-next {
    transform: translateX(100%) !important; 
    font-size: 20px !important;
    color: black !important;
} */
