.about{
    width: 1214px;
    display: grid;
    grid-template-columns: auto;
    gap: 36px;
    color: black;
}
.about__title{
    font-weight: bold;
    font-size: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}