@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.intro__section{
    min-height: 70vh;
    display: flex;
    gap: 64px;
    align-items: center;
    margin: 48px auto 48px auto;
    justify-content: center;
}
.intro_text{
    color: black;
    width: 592px;
    display: grid;
    grid-template-columns: auto;
    gap: 24px;
}
.title{
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 700;
}
.desc{
    font-size: 18px;
}
.intro_text button{
    width: 338px;
    height: 44px;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    background-color: #223CDD;
    color: white;
}
.intro__img{
    width: 574px;
    height: 427px;
}
.intro__img img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

