@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
    font-family: 'Lato', sans-serif;
  }

.header__wrap{

}
.header {
  width: 1278px;
  height: 80px;
  justify-content: space-between;
  border-radius: 12px;
  padding-right: 32px;
  padding-left: 32px;
  background: #FBF8FF;
  box-shadow: 4px 4px 10px 0 #958BB626;
  display: flex;
  margin: 16px auto 16px auto;
  align-items: center;
  }
.logo__cname{
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 32px;
}
.logo img{
  width: 176px;
  height: 80px;
}
.company__name{
  width: 176px;
  height: 37px;
  color: #223CDD;
}
.links__lang{
  display: flex;
  gap: 89px;
}
.links{
  display: flex;
  gap: 32px;
  align-items: center;
  width: 384px;
  height: 27px;
}
.link{
  width: 176px; /*надо об этом подумать*/
  font-size: 20px;
  color: #958BB6;
  text-decoration: none;
  text-underline: none;
}
.language-select {
  display: inline-block;
  font-size: 16px;
  position: relative;
}

select {
  width: 126px;
  height: 44px;
  gap: 8px;
  border-radius: 8px;
  padding: 8px 24px;


  font-size: 16px;
  border: none;

  background-color: #223CDD;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select option {
  background-color: white;
  color: #223CDD;
}

select option:hover {
  background-color: #223CDD;
  color: white;
}