.wrap{
    /*width: 360px;*/
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #FBF8FF;
    box-shadow: 4px 4px 10px 0 #958BB626, -4px -4px 4px 0 #958BB626;
    align-items: center;
    z-index: 1001;
    position: relative;
}
.logo{
    width: 221px;
    height: 46px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo img{
    width: 102px;
    height: 46px;
}
.logo p{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #223CDD;
}
.burger{
    width: 24px;
    height: 24px;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFFBF;;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 20px;
    animation: slideIn 0.3s ease-out;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px)
}
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.menu a{
    align-items: center;
    display: flex;
    justify-content: center;
}