.price__wrap{
    width: 1214px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    margin: 0 auto;
}

.introP {
    display: flex;
    flex-direction: column;
   gap: 16px;
    
}
.price__title{
    font-family: 'PT Serif', serif;
    width: 1214px;
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 18px;
    color: #958BB6;
}

.desc{
    font-size: 16px;
}

.all_prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 24px;
}
